.loader {
    position: fixed;
    top: 50%;
    left: 50%;
    z-index: 1;
    margin-top: -1rem;
    margin-left: -1rem;
    display: block;
    height: 4rem;
    width: 4rem;
    background-color: $white;
    box-sizing: border-box;
    clear: both;

    &__overlay {
        position: absolute;
        left: 0;
        top: 0;
        bottom: 0;
        right: 0;
        z-index: 999999;
        height: 100%;
        width: 100%;
        background: rgba($lighgrey, .9);
        display: none;
    }

    &__container {
        position: absolute;
        top: 50%;
        left: 50%;
        margin-top: -2rem;
        margin-left: -2rem;
        padding: .75rem;
        width: 6rem;
        height: 6rem;
        background-color: $white;
        border-radius: 50%;
        box-shadow: 0 0 .25rem $lighgrey;
    }

    &__circle {
        z-index: 1;
        border: .5rem $lightBlue solid;
        border-bottom: .5rem $white solid;
        border-radius: 50%;
        animation: loaderCircRot 2s infinite linear;
    }
}

.loader__overlay.js-loader-active {
    display: block;
    position: fixed;
}

@-webkit-keyframes loaderCircRot {
    from {
        -webkit-transform: rotate(0deg);
    }

    to {
        -webkit-transform: rotate(359deg);
    }
}

@keyframes loaderCircRot {
    from {
        transform: rotate(0deg);
    }

    to {
        transform: rotate(359deg);
    }
}
